
body{
	position: absolute;
	left: 0px;
    top: 0px;
	width: 100%;
	padding-bottom: 56.25%;
	border-width: 0px;
	margin: 0px;
}
iframe
{
	
	position: absolute;
	left: 0px;
    top: 0px;
	width: 100%;
	height: 100%;
	border-width: 0px;
	margin: 0px;
}
canvas
{
	position: absolute;
	left: 0px;
    top: 0px;
    width: 100%;
  	height: 100%;
	border-width: 0px;
	margin: 0px;
}

@font-face{
	font-family: "pixel";
	src: url("../fonts/slkscr.ttf");
	font-style: normal;
	font-family: pixel;
}
